.o_main_navbar {
    background-color: #3d7890;
}

// .btn-primary {
//     background-color: #3d7890;
// }

.o_edit_website_container:not(.o_translatable) {
    color: #FFFFFF;
    background-color: #3d7890;
    border-color: #71639e;
}

.o_searchview_facet .o_searchview_facet_label {
    background-color: #3d7890;
}